<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>sample.filter.PermissionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>sample.controllers.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddController</servlet-name>
        <servlet-class>sample.controllers.AddController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchController</servlet-name>
        <servlet-class>sample.controllers.SearchController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogOutController</servlet-name>
        <servlet-class>sample.controllers.LogOutController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetMaterialController</servlet-name>
        <servlet-class>sample.controllers.GetMaterialController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailController</servlet-name>
        <servlet-class>sample.controllers.ViewDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateController</servlet-name>
        <servlet-class>sample.controllers.UpdateController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStatusController</servlet-name>
        <servlet-class>sample.controllers.UpdateStatusController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>sample.controllers.LoginController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddController</servlet-name>
        <url-pattern>/AddController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchController</servlet-name>
        <url-pattern>/SearchController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogOutController</servlet-name>
        <url-pattern>/LogOutController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetMaterialController</servlet-name>
        <url-pattern>/GetMaterialController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailController</servlet-name>
        <url-pattern>/ViewDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateController</servlet-name>
        <url-pattern>/UpdateController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStatusController</servlet-name>
        <url-pattern>/UpdateStatusController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            40
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>login.jsp</welcome-file>
    </welcome-file-list>
    <resource-ref>
        <res-ref-name>DBCon</res-ref-name>
        <res-type>javax.sql.DataSource</res-type>
        <res-auth>Container</res-auth>
        <res-sharing-scope>Shareable</res-sharing-scope>
    </resource-ref>
    <context-param>
        <param-name>quartz:shutdown-on-unload</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:wait-on-shutdown</param-name>
        <param-value>true</param-value>
    </context-param>
    <context-param>
        <param-name>quartz:start-on-load</param-name>
        <param-value>true</param-value>
    </context-param>

    <listener>
        <listener-class>org.quartz.ee.servlet.QuartzInitializerListener</listener-class>
    </listener>

    <listener>
        <listener-class>sample.scheduler.QuartzScheduler</listener-class>
    </listener>
</web-app>
