.formBorder{
    border-width:0px;
    border:none;
    outline:none;
}
.dropdown_navbar_item.active, .dropdown_navbar_item:active {
    background-color:#1F2D3B;
    color:#fff;
    opacity:1;
}
.dropdown_navbar_item {
    color: #afb5c1;
}
/* .add_button {
    text-align: right;
} */
.submit_button {
    float:right;
}
.my_image {
    height:35px;
}